#main{
	background-color: #70DBDB;
	left: 0;
	right: 0;
}

a{
	text-align: center;
	font-family: Arial;
	color: white;
}

h1{
	text-align: center;
	font-family: Arial;
	color: white;
	font-size: 100px;
	padding-bottom: 0px;
	margin-bottom: 3%;
}

h2{
	text-align: center;
	font-family: Arial;
	color: white;
}


#upload{
	width: 25%;
	height: 20px;
	border-radius: 25px;
	background-color: white;
	margin-left: auto;
	border: none;
    margin-right: auto;

}

#uploadtext{
	text-align: center;
	font-family: Arial;
	color: #008B8B;
	top: 12px;
	font-size: 20px;
	position: relative;
}

#quote{
	height: 100px;
	width: 100%;
	text-align: center;
	font-family: Arial;
	color: white;
	font-style: italic;
}

#learnmain{	
	font-family: Arial;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;

}

#wrapper{
	background-color: #009ACD;
	height: auto;
	padding-bottom: 5%;
	width: 90%;
	margin-left: auto;
    margin-right: auto;
	border-radius: 2%;
	opacity: 50%;
}

#compresswrapper{
margin-right: auto;
margin-left: auto;
text-align: center;
margin-top: 1%;
margin-bottom: 3%;
}

#form{
margin-right: auto;
margin-left: auto;
text-align: center;
}
